<%= link_to "Show All Articles", articles_path%>
<h1>Show The Articles</h1>
Title:<%= @article.title%>
<br/>
Description:<%= @article.descripton%>
<br/>
<%= render'comments/form'%>
<%= render'comments/scomments'%>


